.table-scoresheet,
.table-scoresheet * {
  box-sizing: border-box;
}

.table-scoresheet {
  width: 360px;
  height: auto;
  position: relative;
  margin: 10px auto 0;
}

.table-heading1,
.table-heading2 {
  display: flex;
  align-items: flex-start;
}

.table-heading1 {
  position: relative;
  height: 78px;
}
.table-heading2 {
  position: absolute;
  width: 216px;
  height: 39px;
  left: 72px;
  top: 39px;
}

.table-total {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.table-total {
  width: 360px;
  height: 39px;
}

.table-heading1-frame-1,
.table-heading1-frame-2,
.table-heading1-frame-3,
.table-heading2-frame-1,
.table-total-frame-1,
.table-total-frame-2 {
  background: #fff;
  border-style: solid;
  border-color: #808080;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-heading1-frame-1 {
  border-width: 1px 0 0 1px;
  width: 72px;
  height: 78px;
}

.table-heading1-frame-2 {
  border-width: 1px 0 0 1px;
  width: 216px;
  height: 39px;
}

.table-heading1-frame-3 {
  border-width: 1px 1px 0 1px;
  width: 72px;
  height: 78px;
}

.table-heading2-frame-1 {
  border-width: 1px 0 0 1px;
  width: 72px;
  height: 39px;
}

.table-total-frame-1 {
  border-width: 1px 0 1px 1px;
  width: 258px;
  height: 39px;
}

.table-total-frame-2 {
  border-width: 1px;
  width: 102px;
  height: 39px;
}

._text {
  color: #000;
  text-align: center;
  font: 500 14px/130% "Lato", sans-serif;
}

.row-data {
  display: flex;
  align-items: flex-start;
  width: 360px;
  height: 39px;
  position: relative;
}

.c-sno,
.c-1,
.c-2,
.c-3,
.c-sum {
  background: #fff;
  border-style: solid;
  border-color: #808080;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 39px;
}

.c-sno {
  border-width: 1px 0 0 1px;
}
.c-1 {
  border-width: 1px 0 0 1px;
}
.c-2 {
  border-width: 1px 0 0 1px;
}
.c-3 {
  border-width: 1px 0 0 1px;
}
.c-sum {
  border-width: 1px 1px 0 1px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
